<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Fuel Quote Form</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <style>
        body {
            background-color: #303641;
            text-align: center
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        $(function() {  
          var date = new Date();   
          offset = date.getTimezoneOffset() * 60 * 1000;
          dateLocal = date - offset;
          dateLocal = new Date(dateLocal);
          date = dateLocal.toISOString().slice(0, 10);
          $('#date').attr('min', date);
        })
      })
    </script>
  </head>
  <body>
    <h1>Fuel Quote Form</h1>

    <form method="POST">
      <label>Gallons Requested: </label>
      <input type="number" name="gallons" value="{{ gallons }}" required><br><br>
      <label>Address 1: </label>
      <input type="text" name="address1" value="4257 Briercliff Road" readonly><br><br>
      <label>Address 2: </label>
      <input type="text" name="address2" value="Apartment 123" readonly><br><br>
      <label>City: </label>
      <input type="text" name="city" value="New York City" readonly><br><br>
      <label>State: </label>
      <input type="text" name="state" value="New York" readonly><br><br>
      <label>Zipcode: </label>
      <input type="number" name="zip" value="10019" readonly><br><br>
      <label>Delivery Date: </label>
      <input type="date" id="date" name="delivery_date" value="{{ delivery_date }}" required><br><br>
      <input type="submit" value="Submit"><br><br>
    </form>

    <label>Suggested Price/Gallon: </label>
    <input type="number" name="price" readonly><br><br>
    <label>Total Amount Due: </label>
    <input type="number" name="total" readonly><br><br>

    {% if error %}
    <p id="error">{{ error }}</p>
    {% endif %}
  </body>
</html>
